:root 
{
  --keypad-color: #D8FB62;
}

body
{
  background-color: #8562fb;
}

h1
{
  color: #112A46;
}

#main-page
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 600px;
}

#game-roles-list
{
  width: 60%;
  color: #112A46;
  font-size: large;
  justify-self: flex-start;
}

.game-btn
{
  width: 90px;
  height: 30px;
  border-radius: 15px;
  color: #f4f4f4;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-easy
{
  background-color: green;
}

.btn-easy:hover,
.btn-easy.active
{
  background-color: rgb(3, 222, 3);
}

.btn-mid
{
  background-color: rgb(141, 92, 0);
}

.btn-mid:hover,
.btn-mid.active
{
  background-color: rgb(255, 178, 34);
}

.btn-hard
{
  background-color: rgb(132, 0, 0);
}

.btn-hard:hover,
.btn-hard.active
{
  background-color: rgb(255, 0, 0);
}

#main-start-btn
{
  background-color: rgb(0, 0, 167);
}
#main-start-btn:hover
{
  background-color: rgb(22, 22, 255);
}

#game-page 
{
  display: none;
  flex-direction: column;
  align-items: center;
  height: 600px;
  justify-content: flex-start;
}

#game-p-header
{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progress-box
{
  width: 60vw;
  height: 15px;
  border: 2px solid black;
  border-radius: 15px;
  background: white;
}

#progress
{
  height: 100%;
  width: 0%;
  background: blue; /* Gradient */
  border-radius: 15px 0 0 15px;
  transition: width 0.4s ease;
}

#game-main-section
{
  display: flex;
  width: 80vw;
  height: 50%;
  justify-content: space-between;
  gap: 10px;
}

#reset-btn
{
  background-color: purple;
}

#reset-btn:hover
{
  background-color: rgb(255, 13, 255);
}

#mid-section
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.content-box
{
  width: 120px;
  height: 50px;
  background-color: #f4f4f4;
  color: blueviolet;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#solution-box
{
  width: 150px;
  height: 150px;
  background-color: #f4f4f4;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#left-section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#game-keypad
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 500px;
}

#middle-row
{
  display: flex;
  gap: 10px;
  align-items: center;
}

.game-arrow
{
  width: 0;
  height: 0;
  border-style: solid;
  background: none;
  border-color: transparent;
  cursor: pointer;
}

.game-arrow.up
{
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid var(--keypad-color);
}

.game-arrow.down
{
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid var(--keypad-color);
}

.game-arrow.left
{
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 30px solid var(--keypad-color);
	border-bottom: 20px solid transparent
}

.game-arrow.right
{
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 30px solid var(--keypad-color);
	border-bottom: 20px solid transparent;
}

.add
{
  width: 50px;
  height: 50px;
  background-color: var(--keypad-color);
  color: #112A46;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-solution
{
  width: 100px;
  height: 130px;
  background-color: rgb(216, 164, 91);
}

.samosa-1
{
  height: 130px;
  aspect-ratio: 1;
  clip-path: polygon(0 0,100% 0,100% 50%,0 100%);
}

.samosa-2
{
  width: 100px;
  height: 80px;
}

.samosa-3
{
  width: 100px;
  height: 80px;
  aspect-ratio: 1;
  clip-path: polygon(0 100%,0 0,100% 100%);
}

.springroll-1
{
  height: 90px;
}

.springroll-2
{
  height: 90px;
  width: 90px;
}

.springroll-3
{
  height: 90px;
  width: 80px;
}

.springroll-4
{
  height: 60px;
  width: 80px;
}

.springroll-5
{
  height: 30px;
  width: 80px;
}

@media (max-width: 600px) 
{
  #game-state
  {
    font-size: large;
  }
}